.home{
    .background{
        width: 100%;
        position: fixed;
    }
    .head {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        perspective: 500px;
        .hacker {
            transform: translateY(0px) translateZ(0px);
            width: 80%;
        }
        .spaceman {
            display: flex;
            justify-content: center;
            .spaceman-img {
                position: absolute;
                top: 500px;
                width: 800px;
            }
        }
    }
}